<div class="feed__item feed__item_default">
    <div class="artists artists_default">
        <div class="artists__list js-carousel-overflow">
            <div class="artists__item">
                <article class="artist artist_default" data-clickable>
                    <div class="artist__picture">
                        <img class="artist__img" loading="lazy" src="/static/core/markup-media/gallery/artists/artist-1/picture-1-thumb.jpg" data-src="/static/core/markup-media/gallery/artists/artist-1/picture-1.jpg" data-srcset="/static/core/markup-media/gallery/artists/artist-1/picture-1@2x.jpg 2x" width="222" height="192" intrinsicsize="222x192" alt="">
                    </div>
                    <div class="artist__photo">
                        <img class="artist__img" loading="lazy" src="/static/core/markup-media/gallery/artists/artist-1/photo-1-thumb.jpg" data-src="/static/core/markup-media/gallery/artists/artist-1/photo-1.jpg" data-srcset="/static/core/markup-media/gallery/artists/artist-1/photo-1@2x.jpg 2x" width="120" height="150" intrinsicsize="120x150" alt="">
                    </div>
                    <div class="artist__label" role="heading" aria-level="4">
                        Василий Игнатов
                    </div>
                    <div class="artist__text">
                        На&nbsp;студии В.Г. Игнатов считался признанным мастером-сказочником
                    </div>
                    <a class="artist__link" href="artist.html">
                        Подробнее
                    </a>
                </article>
            </div>
            <div class="artists__item">
                <article class="artist artist_default" data-clickable>
                    <div class="artist__picture">
                        <img class="artist__img" loading="lazy" src="/static/core/markup-media/gallery/artists/artist-1/picture-2-thumb.jpg" data-src="/static/core/markup-media/gallery/artists/artist-1/picture-2.jpg" data-srcset="/static/core/markup-media/gallery/artists/artist-1/picture-2@2x.jpg 2x" width="237" height="226" intrinsicsize="237x226" alt="">
                    </div>
                    <div class="artist__photo">
                        <img class="artist__img" loading="lazy" src="/static/core/markup-media/gallery/artists/artist-1/photo-2-thumb.jpg" data-src="/static/core/markup-media/gallery/artists/artist-1/photo-2.jpg" data-srcset="/static/core/markup-media/gallery/artists/artist-1/photo-2@2x.jpg 2x" width="120" height="150" intrinsicsize="120x150" alt="">
                    </div>
                    <div class="artist__label" role="heading" aria-level="4">
                        Вера Дранишникова
                    </div>
                    <div class="artist__text">
                        Рисовала диафильмы по&nbsp;сказкам и&nbsp;стихотворениям для&nbsp;детей
                    </div>
                    <a class="artist__link" href="artist.html">
                        Подробнее
                    </a>
                </article>
            </div>
            <div class="artists__item">
                <article class="artist artist_default" data-clickable>
                    <div class="artist__picture">
                        <img class="artist__img" loading="lazy" src="/static/core/markup-media/gallery/artists/artist-1/picture-3-thumb.jpg" data-src="/static/core/markup-media/gallery/artists/artist-1/picture-3.jpg" data-srcset="/static/core/markup-media/gallery/artists/artist-1/picture-3@2x.jpg 2x" width="303" height="208" intrinsicsize="303x208" alt="">
                    </div>
                    <div class="artist__photo">
                        <img class="artist__img" loading="lazy" src="/static/core/markup-media/gallery/artists/artist-1/photo-3-thumb.jpg" data-src="/static/core/markup-media/gallery/artists/artist-1/photo-3.jpg" data-srcset="/static/core/markup-media/gallery/artists/artist-1/photo-3@2x.jpg 2x" width="120" height="150" intrinsicsize="120x150" alt="">
                    </div>
                    <div class="artist__label" role="heading" aria-level="4">
                        Макс Жеребчевский
                    </div>
                    <div class="artist__text">
                        Художник-постановщик на&nbsp;киностудии «Союзмультфильм»
                    </div>
                    <a class="artist__link" href="artist.html">
                        Подробнее
                    </a>
                </article>
            </div>
            <div class="artists__item">
                <article class="artist artist_default" data-clickable>
                    <div class="artist__picture">
                        <img class="artist__img" loading="lazy" src="/static/core/markup-media/gallery/artists/artist-1/picture-4-thumb.jpg" data-src="/static/core/markup-media/gallery/artists/artist-1/picture-4.jpg" data-srcset="/static/core/markup-media/gallery/artists/artist-1/picture-4@2x.jpg 2x" width="163" height="196" intrinsicsize="163x196" alt="">
                    </div>
                    <div class="artist__photo">
                        <img class="artist__img" loading="lazy" src="/static/core/markup-media/gallery/artists/artist-1/photo-4-thumb.jpg" data-src="/static/core/markup-media/gallery/artists/artist-1/photo-4.jpg" data-srcset="/static/core/markup-media/gallery/artists/artist-1/photo-4@2x.jpg 2x" width="120" height="150" intrinsicsize="120x150" alt="">
                    </div>
                    <div class="artist__label" role="heading" aria-level="4">
                        Эрнё Зорад
                    </div>
                    <div class="artist__text">
                        Венгерский художник, иллюстратор, графический дизайнер
                    </div>
                    <a class="artist__link" href="artist.html">
                        Подробнее
                    </a>
                </article>
            </div>
        </div>
        <div class="carousel__tags">
            <button class="carousel__button carousel__button_backwards js-carousel-backwards button button_default is-active" type="button" aria-pressed="true">
            </button>
            <button class="carousel__button carousel__button_forwards js-carousel-forwards button button_default is-active" type="button" aria-pressed="true">
            </button>
        </div>
    </div>
</div>