{% extends '@layouts/default.twig' %}

{% block vendor_styles %}
    {{ parent() }}
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block vendor_scripts %}
    {{ parent() }}
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block layout_content %}
    {% include '@blocks/title.twig' with {
        self: {
            mod: 'image',
            back: { url: parent.id, label: 'Вернуться в архив' },
            image: { url: 'archive/technologies/technology/image-1.jpg', width: 1112, height: 450, alt: '', mobile: 'mobile' },
            label: pageTitle
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <h2>Немного о классификации диафильмов</h2>
            <p>Все цветные и черно-белые диафильмы представляют собой позитивные копии единичных кадров, напечатанных в
                заданной последовательности на 135-мм кинопленке. Диафильмы выпускают в двух вариантах: немые и
                звуковые. Немые диафильмы имеют пояснительный текст в виде внутрикадровых надписей — субтитров, либо
                текст, напечатанный в прилагаемой к диафильму брошюре. Звуковые диафильмы представляют собой комплект,
                состоящий из цветной или черно-белой копии диафильма и звукового сопровождения, записанного на
                грампластинку или магнитную ленту. Кадры в звуковых диафильмах переводятся по специальному звуковому
                сигналу, записанному в фонограмму.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, medium',
            type: 'image',
            wrap: true,
            caption: '',
            media: {
                url: 'archive/technologies/technology/image-2.jpg',
                width: 715,
                height: 200
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <h2>Основные процессы производства</h2>
            <p>Творческий процесс — написание литературного сценария, разработка съемочного плана, создание
                художественных рисунков. Эта работа выполнялась авторами под руководством редакторского коллектива
                Студии.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, medium',
            type: 'image',
            wrap: true,
            caption: 'Творческо-производственный процесс студии "Диафильм" ',
            media: {
                url: 'archive/technologies/technology/image-3.jpg',
                width: 715,
                height: 500
            }
        }
    } %}

    {% embed '@blocks/blockquote.twig' with {
        self: {
            mod: 'box'
        }
    } %}
        {% block blockquote_body %}
            <p>Творческо-производственный процесс — создание исходных материалов, изготовление контрольных и утверждение
                эталонных копий диафильмов и диапозитивов. Эта работа выполнялась творческими и производственными
                службами Студии.</p>
        {% endblock blockquote_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, large',
            type: 'image',
            wrap: true,
            caption: 'Специалисты студии "Диафильм" во время работы над созданием нового диафильма.',
            media: {
                url: 'archive/technologies/technology/image-4.jpg',
                width: 929,
                height: 542
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Производственный процесс — контратипирование исходных фото-негативов, съемка репродукционных негативов,
                массовая печать позитивных копий, резка диафильмов и диапозитивов на отдельные экземпляры, монтаж
                позитивов в рамки, маркировка, сортировка, упаковка и т. п. Эта работа выполнялась производственными
                участками Студии в кооперации с кинокопировальными фабриками.</p>
            <p>Заключительный процесс — распространение диафильмов и диапозитивов, т. е. доставка их потребителям через
                различные торговые и обеспечивающие организации и системы.</p>
            <p>Ежегодный выпуск 400 названий диафильмов и диапозитивов разнообразных жанров и видов делал работу по
                обеспечению производства исходными материалами сложной и трудоемкой.</p>

            <h2>Существовало пять основных каналов получения исходных материалов</h2>

            <ul>
                <li>Цветные и черно-белые негативы, с которых изготовлялись фотографии для диафильмов и диапозитивов,
                    как правило, снимались силами фото-отдела Студии;
                </li>
                <li>Серии художественных рисунков выполняли художники, работавшие со студией на договорных началах;</li>
                <li>Черно-белые фотокопии с различных архивных документов, полиграфических изданий, редких фотографий
                    изготовляли на студни;
                </li>
                <li>Также использовали готовые черно-белые фотографии издательств или фотомастеров;</li>
                <li>Технические рисунки, графики, схемы, чертежи изготовляли на Студии.</li>
            </ul>

            <p>Имелось принципиальное различие в производстве диафильмов, в зависимости от типа используемых исходных
                материалов. Существовало два типа исходных материалов — цветные оригинальные фото-негативы и рисунки,
                схемы, фотокопии и т. п., соответствующим образом оформленные и так называемые «макеты». Съемочными
                называли диафильмы и диапозитивы, исходными материалами которых являлись оригинальные цветные
                фото-негативы, специально снятые для этих целей. Репродукционными называли диафильмы и диапозитивы,
                исходными материалами которых являлись соответствующим образом оформленные художественные рисунки,
                схемы, чертежи, фотографии, фотокопии и т. п., с которых снимали репродукционные негативы для
                последующего тиражирования.</p>
            <p>Все виды съемок с получением цветных оригинальных фото-негативов можно было подразделить на два типа —
                это выездные съемки, когда объекты снимали на негативные фото-кино-пленки непосредственно в тех местах,
                о которых шла речь в диафильмах, и павильонные, где снимали постановочные кукольные диафильмы.</p>

        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, medium',
            type: 'image',
            wrap: true,
            caption: 'Специалисты наборного цеха студии "Диафильм" за работой',
            media: {
                url: 'archive/technologies/technology/image-5.jpg',
                width: 715,
                height: 500
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Второй тип исходных материалов — макет, который представлял собой соответствующим образом оформленные
                кадры диафильмов.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, medium',
            type: 'image',
            wrap: true,
            caption: 'Вид диафильма',
            media: {
                url: 'archive/technologies/technology/image-6.jpg',
                width: 715,
                height: 500
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Художественный рисунок, схему, чертеж или черно-белый фотоотпечаток наклеивали на картонную заготовку,
                имеющую стандартные размеры. На эту же заготовку наклеивали фотоотпечаток внутрикадрового пояснительного
                текста. Такие макеты, собранные в серии, были исходным материалом для тиражирования цветных и
                черно-белых диафильмов. Художественные рисунки исполняли художники, работавшие со студией. Рисунки
                выполняли гуашью, темперой, акварелью, с применением различной техники, на листах плотной белой бумаги
                стандартных размеров с учетом неизбежного искажения цвета кинопленкой; все рисунки, входившие в одну
                серию, были выдержаны в одной тональности, что позволяло их снимать в одном режиме.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, small',
            type: 'image',
            wrap: true,
            caption: 'Специалисты художественного цеха студии "Диафильм" во время работы.',
            media: {
                url: 'archive/technologies/technology/image-7.jpg',
                width: 507,
                height: 624
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Все сказанное относилось и к техническому рисунку. Схемы, чертежи, графики и т. п. выполняли с
                соблюдением условий единого оформления всей серии. Субтитры являлись органической частью кадра.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, medium',
            type: 'image',
            wrap: true,
            caption: 'Специалисты наборного цеха студии "Диафильм" за работой',
            media: {
                url: 'archive/technologies/technology/image-8.jpg',
                width: 715,
                height: 500
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Текст печатали контактным способом на контрастную фотобумагу со специально изготовленного типографского
                оттиска либо с негатива. Репродукционную съемку макетов диафильмов и диапозитивов производили на
                аппаратах для микрофильмирования с одинаковыми для всех кадров будущего диафильма условиями съемки.</p>

            <h2>Тиражирование диафильмов</h2>

            <p>Тиражирование съемочных диафильмов существенным образом отличалось от тиражирования репродукционных.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, medium',
            type: 'image',
            wrap: true,
            caption: 'Специалист цеха массовой печати студии "Диафильм" во время работы на копировальном аппарате.',
            media: {
                url: 'archive/technologies/technology/image-9.jpg',
                width: 715,
                height: 500
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>При печати позитивных копий съемочных диафильмов появляется необходимость спечатать разрозненные,
                отдельно снятые фото-негативы на промежуточную пленку (дубль-позитив), скорректировав их по цвету и
                плотности, и только после этого вести массовую печать диафильмов. Из-за этих причин цветные негативы
                съемочных диафильмов контратипировали. Сначала с исходных негативов печатали промежуточную пленку на
                специальных диакопировальных аппаратах. Затем, с уже выровненной по цвету и плотности промежуточной
                пленки (дубль-позитива), печатали необходимое количество пленок для тиражирования – контратипов. На этом
                же этапе в контратип с отдельной пленки (негатива надписей) впечатывали титры.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, small',
            type: 'image',
            wrap: true,
            caption: 'Специалист студии "Диафильм" во время работы за фотоувеличителем.',
            media: {
                url: 'archive/technologies/technology/image-10.jpg',
                width: 507,
                height: 624
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>При печати позитивных копий репродукционных диафильмов, массовую печать вели непосредственно с одиночного
                репродукционного негатива, склеенного в кольцо.</p>
            <p>В силу простоты репродукционной съемки (однотипность снимаемого материала и условий съемки, достаточно
                стабильное качество негативной пленки и режимов обработки) контратипирование не применяли. Для
                обеспечения необходимого тиража снимали несколько репродукционных негативов (из расчета печати с одного
                негатива 600 - 900 экз. диафильмов).</p>

            <h2>Заключительные операции производства диафильмов</h2>

            <p>Позитивные копии диафильмов, полученные из массовой печати, еще не являлись готовой продукцией.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, medium',
            type: 'image',
            wrap: true,
            caption: '',
            media: {
                url: 'archive/technologies/technology/image-11.jpg',
                width: 715,
                height: 500
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Из массовой печати черно-белые и цветные копии диафильмов приходили в виде 300-м роликов, в которых
                спечатано одно название диафильма.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, medium',
            type: 'image',
            wrap: true,
            caption: 'Специалисты [кинолаборатории] студии "Диафильм" за работой.',
            media: {
                url: 'archive/technologies/technology/image-12.jpg',
                width: 715,
                height: 500
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Этот ролик разрезали на отдельные экземпляры. Резку производили с точностью до одного кадра на заданную
                длину, определенную количеством кадров в диафильме.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, medium',
            type: 'image',
            wrap: true,
            caption: 'Укладчицы сортировочного цеха Студии "Диафильм" за работой.',
            media: {
                url: 'archive/technologies/technology/image-13.jpg',
                width: 715,
                height: 500
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Далее отдельные экземпляры диафильмов закручивались и укладывались в корпусы пеналов, после чего на
                корпусы пеналов надевались крышки. Работы по резке — укладке диафильмов в пенал являлись сугубо
                специфическими, не встречались в других производствах, и оборудование для выполнения этих работ
                отечественной и зарубежной промышленностью не выпускалось. Партия машин для резки диафильмов была
                изготовлена по специальному заказу и чертежам Студии «Диафильм» Свердловским киномеханическим заводом
                объединения «Роскинотехника».</p>
            <p>Для закрутки диафильмов, укладки их в корпусы пеналов, закрывания корпусов пеналов крышками, НИКФИ
                совместно со студней «Диафильм» были разработаны и успешно испытаны в производственных условиях
                специальные автоматические устройства. Маркировку упакованных диафильмов выполняли нанесением надписи
                хорошо известным в полиграфии методом трафаретной печати или наклейкой этикетки.</p>
            <h2>Производство звуковых диафильмов</h2>
            <p>Изобразительный ряд звукового диафильма представляет собой обычного вида цветную или черно-белую 35-мм
                позитивную копию диафильма, не имеющую субтитров, поэтому технология производства позитивных копий
                звуковых диафильмов ничем не отличалась от технологии производства немых диафильмов.</p>
            <p>Фонограмму звукового диафильма записывали на магнитную ленту или грампластинку. Производство магнитных
                фонограмм осуществляла студия «Диафильм». Грампластинки делала по кооперации фирма «Мелодия». Среднее
                время звучания фонограммы звукового диафильма было около 14 мин.</p>
            <p>Запись дикторского текста и актеров - исполнителей производили в тонателье Студии, музыку и шумы
                подбирали из фильмотеки Студии или других организаций, применяли запись отдельных музыкальных фрагментов
                с грампластинок. Тиражирование магнитных фонограмм осуществляли с так называемых тиражных дублей
                перезаписи, которые кроме речи, музыки и шумов имели записанные на частоте 500 Гц импульсы,
                сигнализирующие о необходимости смены кадров. Такого же вида тиражные дубли передавали на фирму
                «Мелодия» для изготовления грампластинок.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, medium',
            type: 'image',
            wrap: true,
            caption: 'Магазин по продаже диафильмов и диапроекторов.',
            media: {
                url: 'archive/technologies/technology/image-14.jpg',
                width: 715,
                height: 500
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Работу по распространению диафильмов и диапозитивов выполняла специальная служба Студии. В обязанности
                этой службы входили организация рекламы диафильмов и диапозитивов через печать, радио. телевидение,
                путем издания и рассылки различных рекламных материалов. Служба распространения также издавала и
                рассылала каталоги диафильмов и диапозитивов, участвовала в оптовых межреспубликанских ярмарках,
                проводила встречи с покупателями в специализированных магазинах и т. п.</p>
            <p>Основными оптовыми потребителями Студии являлись Министерство торговли СССР, Министерство просвещения
                СССР, Комитет по печати при Совете Министров СССР, а также многие другие министерства, ведомства и
                организации, выступавшие в роли заказчиков специальных диафильмов и диапозитивов. Поставку продукции на
                экспорт осуществлялась через В/О «Международная книга».</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/similar.twig' with {
        self: {
            mod: 'publications',
            label: 'Диафильмы с участием художника',
            text: 'В этих статьях мы подобрали интересные факты о диафильмах для школьников. Материалы специально готовились с акцентом на людей жаждущих знаний, надеемся вам будет интересно.',
            carousel: {
                mod: 'films',
                jsClassName: 'js-carousel-horizontal',
                itemsTemplate: '@blocks/card.twig',
                items: [
                    {
                        size: '',
                        mod: 'film',
                        label: 'В путь по реке времени',
                        image: { url: 'gallery/artist/card-1.jpg', width: 384, height: 288 },
                        link: { label: '', url: '#' }
                    },
                    {
                        size: '',
                        mod: 'film',
                        label: 'Встреча с вреднюгами',
                        image: { url: 'gallery/artist/card-2.jpg', width: 384, height: 288 },
                        link: { label: '', url: '#' }
                    },
                    {
                        size: '',
                        mod: 'film',
                        label: 'Карлик Нос',
                        image: { url: 'gallery/artist/card-3.jpg', width: 384, height: 288 },
                        link: { label: '', url: '#' }
                    }
                ]
            }
        }
    } %}

{% endblock layout_content %}

{% block popups %}
    {{ parent() }}
{% endblock popups %}
