@charset "UTF-8";
/* --------------------
   Художники
   -------------------- */

.artists {
  @include highlight();
  @extend %row;

  &_main {
    @include media(laptop) {
      width: 100%;
      height: 100%;
    }
  }

  &_default {
    width: 100%;
    height: 100%;
  }

  &__header {
    @include highlight();
    @extend %column;
    position: relative;

    .artists_main & {
      @include column(4, 8);
      padding-left: 8px;
      padding-right: 8px;

      @include media(laptop) {
        @include column(3, 10);
        padding-top: 170px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: -80px;
        z-index: 1;
        pointer-events: none;
      }
    }

    .artists_default & {
      @include column(3, 10);
      padding-top: 170px;
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: -80px;
      z-index: 1;
      pointer-events: none;
    }
  }

  &__label {
    @include font(20px, 20px, $base-font, 700);
    text-transform: lowercase;
    color: $pink;

    .artists_main & {
      @include media(before, laptop) {
        margin-bottom: 10px;
      }
      @include media(laptop) {
        @include font(36px, 40px);
        pointer-events: all;
      }
    }

    .artists_default & {
      @include font(36px, 40px);
      pointer-events: all;
    }
  }

  &__list {
    @include highlight();
    @extend %column;
    @extend %row;
    position: relative;
    z-index: 0;

    .artists_main & {
      @include media(laptop) {
        @include column(10, 10);
        align-self: flex-end;
        margin-top: 300px;
      }
    }

    .artists_default & {
      @include column(10, 10);
      align-self: flex-end;
      margin-top: 300px;

      @include media(before, laptop) {
        display: block;
        position: static;
        box-sizing: border-box;
        padding: 0 0 150px;
        margin: 0 0 -155px;
        list-style-type: none;
        overscroll-behavior-x: auto;
        overscroll-behavior-y: contain;
        -webkit-overflow-scrolling: touch;
        z-index: 0;
      }
    }

    .feed__list_horizontal & {
      @include media(before, laptop) {
        white-space: nowrap;
        overflow: auto;
        overscroll-behavior-y: auto;
        overscroll-behavior-x: contain;
      }
    }
  }

  &__item {
    @include highlight();
    @extend %column;

    .artists_main & {
      @include media(before, laptop) {
        @include column(7, 8);
        margin-top: 20px;
      }
      @include media(laptop) {
        @include column(2, 10);
      }
    }

    .artists_default & {
      @include column(2, 10);

      @include media(before, laptop) {
        @include highlight();
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        padding-left: 8px;
        padding-right: 8px;
        @include column(10, 10);
      }
    }
  }

  &__after {
    @include highlight();
    @extend %column;

    .artists_main & {
      @include media(before, laptop) {
        position: absolute;
        top: 0;
        right: 0;
        @include column(1, 8);
        height: 50%;
        padding-left: 8px;
        padding-right: 8px;
      }

      @include media(laptop) {
        position: relative;
        align-self: flex-end;
        justify-self: flex-end;
        @include columnWithPush(1, -1, 10);
        height: calc(100% - 170px);
        padding-top: 40px;
        padding-left: 8px;
        padding-right: 8px;
        z-index: 10;
      }
    }

    .artists_default & {
      position: relative;
      align-self: flex-end;
      justify-self: flex-end;
      @include columnWithPush(1, -1, 10);
      height: calc(100% - 170px);
      padding-top: 40px;
      padding-left: 16px;
      padding-right: 16px;

      @include media(before, laptop) {
        @include column(10, 10);
        padding-left: 8px;
        padding-top: 0;
        margin-bottom: 40px;
      }

      @include media(laptop) {
        transform: rotate(-90deg);
      }
    }
  }

  &__more {
    position: absolute;
    left: 100%;
    display: inline-block;
    vertical-align: bottom;
    @include font(24px, 28px, $title-font, 700);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: $pink;
    transform-origin: 0 100%;

    .artists_main & {
      top: 300px;
      margin-left: -8px;
      transform: rotate(-90deg);

      @include media(laptop) {
        top: 80%;
        margin-left: -16px;
      }
    }

    .artists_default & {
      bottom: 0;
      margin-left: -16px;

      @include media(before, laptop) {
        position: static;
        margin-left: 0;
      }
    }

    @include before() {
      display: inline-block;
      vertical-align: bottom;
      @include svgSprite(icon-arrow-16-pink);
      margin-right: 4px;
      transform: rotate(90deg);

      @include media(before, laptop) {
        display: none;
      }
    }

    @include after() {
      display: inline-block;
      vertical-align: bottom;
      @include svgSprite(icon-arrow-16-pink);
      margin-left: 4px;

      @include media(laptop) {
        display: none;
      }
    }
  }
}
