@charset "UTF-8";
/* --------------------
   Бабл
   -------------------- */

.bubble {
  @extend %row;
  align-items: stretch;
  min-height: 290px;
  border: 2px solid $yellow;
  border-radius: 4px;

  @include media(before, laptop) {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    min-height: 230px;
    top: 0;
    bottom: auto;
  }

  &__text {
    @include highlight();
    @extend %column;
    align-self: center;
    @include column(2.5, 5);
    padding-left: 16px;
    padding-right: 16px;
    @include font(14px, 20px, $base-font, 600);
    color: $black;

    @include media(before, laptop) {
      order: 2;
      width: 100%;
      @include font(18px, 22px, $base-font, 600);
      padding-left: 8px;
      padding-right: 8px;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__picture {
    @include highlight();
    @extend %column;
    display: flex;
    flex-direction: row;
    @include column(2.5, 5);
    padding-left: 16px;
    padding-right: 16px;

    @include media(before, laptop) {
      order: 1;
      width: 100%;
      margin-bottom: 20px;
      padding-left: 8px;
      padding-right: 8px;
    }

    &_horizontal {
      align-self: center;
      justify-content: center;
    }

    &_vertical {
      align-self: flex-end;
      justify-content: center;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}
