@charset "UTF-8";
@use "sass:color";

/* --------------------
   Карусель
   -------------------- */

.carousel {
  position: relative;
  max-height: 100%;
  z-index: 1;

  &.is-vertical {
    display: flex;
    flex-direction: column;
  }

  &.is-horizontal {
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;

    .earth__header & {
      flex-wrap: wrap;
    }

    @include media(before, laptop) {
      padding-bottom: 0;
    }
  }

  &_facts {
    margin-left: -16px;
    margin-right: -16px;

    @include media(before, laptop) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &_videos {
    padding-bottom: 0;
  }

  &_collections {
    padding-bottom: 0;
  }

  &_earth {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    padding-bottom: 40px;

    @include media(laptop) {
      padding-bottom: 20px;
    }
  }

  &__container {
    @extend %container;
  }

  &__row {
    @extend %row;
  }

  &__label {
    @include highlight();
    @extend %column;

    .carousel_earth & {
      padding-left: 16px;
      padding-right: 16px;
      @include font(36px, 40px, $base-font, 700);
      text-transform: lowercase;
      color: $green;
    }
  }

  &__text {
    @include highlight();
    @extend %column;

    .carousel_earth & {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 10px;
      @include font(14px, 18px, $base-font, 400);
      color: $black;
    }
  }

  &__filter {
    @include highlight();
    @extend %column;
    margin-bottom: 30px;

    @include media(before, laptop) {
      @include column(10, 10);
    }

    .carousel_earth & {
      position: relative;
      padding-top: 24px;
      padding-bottom: 24px;
      margin-top: 30px;

      @include media(before, laptop) {
        padding-bottom: 10px;
        margin-top: 0;
      }

      @include before() {
        position: absolute;
        top: 0;
        left: 16px;
        right: 16px;
        display: block;
        border-top: 2px solid $black;

        @include media(before, laptop) {
          display: none;
        }
      }
      @include after() {
        position: absolute;
        bottom: 0;
        left: 16px;
        right: 16px;
        display: block;
        border-bottom: 2px solid $black;

        @include media(before, laptop) {
          left: 0;
          right: 0;
        }
      }
    }
  }

  &__tags {
    @include highlight();
    @extend %column;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;

    .feed_artists & {
      display: none;
      margin-bottom: 0;
    }

    @include media(before, laptop) {
      padding-left: 8px;
      padding-right: 8px;
      top: 0;
      margin-bottom: 40px;
    }

    .feed_gallery & {
      @include media(laptop) {
        display: none;
      }

      @include media(before, laptop) {
        display: block;
        margin-top: 20px;
        position: relative;
        height: 20px;
        margin-bottom: 30px;
      }
    }
  }

  &__viewport {
    @include highlight();
    @extend %column;

    &_active {
      @include media(before, laptop) {
        display: block;
      }
    }

    @include media(laptop) {
      overflow: hidden;
      height: 100%;
      max-height: 100%;
    }

    .is-vertical & {
      display: flex;
      flex-direction: column;
    }

    .is-horizontal & {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      padding-bottom: 30px;

      @include media(before, laptop) {
        box-sizing: border-box;
        flex-wrap: wrap;
        padding-bottom: 80px;
      }
    }

    .earth__carousel & {
      @include media(before, laptop) {
        padding-bottom: 0;
        display: none;
      }
    }

    &_active {
      .earth__carousel & {
        @include media(before, laptop) {
          display: block;
        }
      }
    }

    .is-popup & {
      top: 0;

      @include media(before, laptop) {
        width: calc(100% + 32px);
        margin-left: -16px;
        padding-top: 180px;
        position: absolute;
        background-color: $black;
        top: -210%;
        box-sizing: content-box;
        z-index: 100;
        padding-bottom: 100px;
      }
    }
  }

  &__list {
    display: block;
    position: static;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: auto;
    contain: content;
    overscroll-behavior-x: auto;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;

    .is-horizontal & {
      width: 100%;
      padding-bottom: 100px;
      margin-bottom: -120px;
      overscroll-behavior-y: auto;
      overscroll-behavior-x: contain;
      white-space: nowrap;
    }

    .is-vertical & {
      height: 100%;
      padding-right: 100px;
      margin-right: -100px;
      overscroll-behavior-x: auto;
      overscroll-behavior-y: contain;
    }

    .is-horizontal.is-snap {
      scroll-snap-type: x mandatory;
    }

    .is-vertical.is-snap {
      scroll-snap-type: y mandatory;
    }
  }

  &__item {
    @include highlight();
    display: inline-block;
    vertical-align: top;
    white-space: normal;

    .carousel_publications & {
      @extend %column;
      position: relative;
      padding-left: 16px;
      padding-right: 16px;

      @include media(before, laptop) {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .carousel_films & {
      @extend %column;
      position: relative;
      padding-left: 16px;
      padding-right: 16px;

      @include media(before, laptop) {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .carousel_cafeteria & {
      @extend %column;
      position: relative;
      height: 100%;
    }

    .carousel_news & {
      @extend %column;
      position: relative;
      padding-left: 16px;
      padding-right: 16px;
      height: 100%;

      @include media(before, laptop) {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .carousel_models & {
      @extend %column;
      position: relative;
      padding-left: 16px;
      padding-right: 16px;
    }

    .carousel_facts & {
      @extend %column;
      position: relative;
    }

    .carousel_videos & {
      @extend %column;
      position: relative;
      padding-left: 16px;
      padding-right: 16px;
    }

    .carousel_earth & {
      @extend %column;
      position: relative;
      padding-left: 16px;
      padding-right: 16px;
    }

    .carousel_viewing & {
      @extend %column;
      position: relative;

      @include media(before, laptop) {
        @include column(8, 10);
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    &_default {
      .is-vertical & {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        @include media(before, laptop) {
          width: 98%;
        }
      }

      .carousel_cafeteria & {
        @include column(7, 7);

        @include media(laptop) {
          @include column(3, 9);
        }

        @include before() {
          position: absolute;
          top: 75px;
          left: 16px;
          right: 16px;
          height: 210px;
          border-radius: 50% / 40px;
          background-color: color.adjust($magenta, $alpha: -.7);
          z-index: -1;

          @supports (clip-path: ellipse(65% 50% at center)) {
            border-radius: 0;
            clip-path: ellipse(65% 50% at center);
          }
        }

        @include after() {
          position: absolute;
          bottom: 0;
          left: calc(1.5 / 3 * 100%);
          right: 0;
          height: 100px;
          margin-left: 16px;
          margin-right: 16px;
          border-radius: 50% / 20px;
          background-color: color.adjust($magenta, $alpha: -.7);
          z-index: -1;

          @supports (clip-path: ellipse(65% 50% at center)) {
            border-radius: 0;
            clip-path: ellipse(65% 50% at center);
          }
        }

        &:nth-child(3n-1) {
          @include media(laptop) {
            padding-top: 50px;
          }

          &::before {
            top: 120px;
          }

          &::after {
            top: 80px;
          }
        }

        &:nth-child(3n) {
          @include media(laptop) {
            padding-top: 20px;
          }

          &::before {
            top: 60px;
          }

          &::after {
            top: 0;
          }
        }
      }

      .carousel_publications & {
        @include column(3, 11);

        @include media(before, laptop) {
          @include column(5, 10);
        }

        .similar_default & {
          @include column(3, 10);

          @include media(before, laptop) {
            @include column(5, 10);
          }
        }
      }

      .carousel_collections & {
        width: 100%;

        @include media(before, laptop) {
          @include column(10, 10);
          padding-left: 8px;
          padding-right: 8px;
        }
      }

      .carousel_films & {
        @include column(4, 11);

        @include media(before, laptop) {
          @include column(10, 10);
        }

        .similar_default & {
          @include column(4, 10);

          @include media(before, laptop) {
            @include column(10, 10);
          }
        }
      }

      .carousel_news & {
        @include column(3, 11);

        @include media(before, laptop) {
          @include column(10, 10);
        }

        .similar_default & {
          @include column(3, 10);

          @include media(before, laptop) {
            @include column(10, 10);
            padding-left: 8px;
            padding-right: 8px;
          }
        }
      }

      .carousel_models & {
        @include column(3, 11);

        @include media(before, laptop) {
          @include column(8, 10);
          padding-left: 8px;
          padding-right: 8px;
        }

        .similar_default & {
          @include column(3, 10);

          @include media(before, laptop) {
            font-size: 18px;
            @include column(8, 10);
            padding-left: 8px;
            padding-right: 8px;
          }
        }
      }

      .carousel_videos & {
        @include column(6, 6);

        @include media(before, laptop) {
          padding-left: 8px;
          padding-right: 8px;
        }
      }

      .carousel_earth & {
        @include column(4, 4);

        @include media(before, laptop) {
          top: 0;
          height: 100%;
          z-index: 100;
          color: $white;
        }
      }

      .carousel_viewing & {
        @include column(5, 8);

        @include media(before, laptop) {
          @include column(5.2, 10);
        }
      }
    }

    &_double {
      .carousel_publications & {
        @include column(6, 11);

        @include media(before, laptop) {
          @include column(10, 10);
          padding-left: 8px;
          padding-right: 8px;
        }

        .similar_default & {
          @include column(6, 10);

          @include media(before, laptop) {
            @include column(10, 10);
            padding-left: 8px;
            padding-right: 8px;
          }
        }
      }
    }

    &_large {
      .carousel_news & {
        @include column(4, 11);

        @include media(before, laptop) {
          @include column(10, 10);
        }

        .similar_default & {
          @include column(4, 10);

          @include media(before, laptop) {
            @include column(10, 10);
            padding-left: 8px;
            padding-right: 8px;
          }
        }
      }
    }

    &[hidden] {
      display: none;
    }
  }

  &__buttons {

    @include transition() {
      transition-property: visibility, opacity;
    }

    .is-vertical & {
      position: absolute;
      top: 0;
      left: 100%;
      margin-left: 8px;

      @include media(laptop) {
        margin-left: 16px;
      }
    }

    .is-horizontal & {
      position: absolute;
      bottom: 19px;
      left: 0;
      margin-left: 16px;

      @include media(before, laptop) {
        margin-left: 0;
        padding-left: 8px;
        bottom: -10px;
        margin-bottom: 20px;
      }

      .earth__container & {
        @include media(before, laptop) {
          padding-left: 16px;
          bottom: 10px;
        }
      }
    }

    .carousel_facts & {
      @include media(before, laptop) {
        margin-left: 0;
        padding-left: 0;
      }
    }

    .carousel_collections & {
      top: auto;
      left: calc(5 / 9 * 100%);
      bottom: 0;

      @include media(before, laptop) {
        left: 0;
      }
    }

    .carousel_videos & {
      left: auto;
      right: 16px;
      margin-top: 14px;

      @include media(laptop) {
        top: 100%;
      }

      @include media(before, laptop) {
        left: 0;
      }
    }

    &[hidden] {
      display: block;
      visibility: hidden;
      opacity: 0;
    }
  }

  &__button {
    &_close {
      display: none;
    }

    .is-popup & {
      &_close {
        display: none;

        @include media(before, laptop) {
          position: absolute;
          display: block;
          top: 7%;
          right: 32px;
          height: 40px;
          width: 40px;
          left: auto;
          z-index: 50;
          background-color: transparent;
          color: $white;
          border: none;

          @include before() {
            @include svgIcon(icon-close-white);
          }
        }
      }
    }

    .is-vertical & {
      position: relative;
      width: 22px;
      height: 22px;
      padding: 0;
      border: none;
      background-color: transparent;
      z-index: 5;
    }

    .is-horizontal &,
    .is-mobile-row & {
      position: relative;
      width: 22px;
      height: 22px;
      padding: 0;
      border: none;
      background-color: transparent;
      z-index: 5;

      @include media(before, laptop) {
        width: 32px;
        height: 32px;
      }
    }

    &_backwards {
      .is-vertical & {
        @include before() {
          @include svgIcon(icon-arrow-round-white-22);
          transform: rotate(-90deg);

          @include media(before, laptop) {
            @include svgIcon(icon-arrow-round-white-32);
          }
        }
      }

      .is-horizontal & {
        @include before() {
          @include svgIcon(icon-arrow-round-black-22);
          transform: rotate(180deg);

          @include media(before, laptop) {
            @include svgIcon(icon-arrow-round-black-32);
          }
        }

        .similar_bg-gray &,
        .layout_gray &,
        .viewing__carousel & {
          @include before() {
            @include svgIcon(icon-arrow-round-white-22);

            @include media(before, laptop) {
              @include svgIcon(icon-arrow-round-white-32);
            }
          }
        }
      }

      .earth__carousel & {
        @include before() {
          @include media(before, laptop) {
            @include svgIcon(icon-arrow-round-white-32);
          }
        }
      }
    }

    &_forwards {
      .is-vertical & {
        margin-top: 15px;

        @include before() {
          @include svgIcon(icon-arrow-round-white-22);
          transform: rotate(90deg);
        }
      }

      .is-horizontal & {
        margin-left: 16px;

        @include before() {
          @include svgIcon(icon-arrow-round-black-22);

          @include media(before, laptop) {
            @include svgIcon(icon-arrow-round-black-32);
          }
        }

        .similar_bg-gray &,
        .layout_gray &,
        .viewing__carousel & {
          @include before() {
            @include svgIcon(icon-arrow-round-white-22);

            @include media(before, laptop) {
              @include svgIcon(icon-arrow-round-white-32);
            }
          }
        }
      }

      .earth__carousel & {
        @include before() {
          @include media(before, laptop) {
            @include svgIcon(icon-arrow-round-white-32);
          }
        }
      }
    }

    &_tag {
      .carousel_films & {
        @include after("/") {
          display: inline-block;
          vertical-align: bottom;
          margin-left: em(4, 14);
          margin-right: em(4, 14);
          @include font(14px, 18px, $base-font, 400);
          color: $gray-59;

          @include media(before, laptop) {
            display: none;
          }
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }

    @include disabled() {
      opacity: .5;
      cursor: default;
    }
  }

  &_close {
  //  display: none;
  }
}
