@charset "UTF-8";
/* --------------------
   Колонки
   -------------------- */

.columns {
  @extend %section;

  &_default {
    margin-top: 36px;
    margin-bottom: 36px;

    &:first-child {
      margin-top: 0;
    }
  }

  &_diafilm {
    position: relative;
    margin-top: 36px;
    margin-bottom: 36px;

    @include media(before, laptop) {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &_contacts {
    position: relative;
    margin-top: 36px;
    margin-bottom: 36px;

    @include media(before, laptop) {
      margin-top: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__container {
    @extend %container;

    @include media(before, laptop) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__row {
    @extend %row;

    .columns_diafilm & {
      position: relative;
      align-items: stretch;
      padding-top: 24px;
      padding-bottom: 24px;

      @include media(before, laptop) {
        padding-top: 0
      }

      @include after() {
        position: absolute;
        left: calc(1 / 12 * 100%);
        right: 0;
        bottom: 0;
        margin-left: 16px;
        margin-right: 16px;
        border-top: 2px solid $white;

        @include media(before, laptop) {
          display: none;
        }
      }
    }
  }

  &__column {
    @include highlight();
    @extend %column;

    .columns_default & {
      padding-left: 16px;
      padding-right: 16px;
    }

    .columns_diafilm & {
      padding: 24px 16px;

      @include media(before, laptop) {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    &_1 {
      .columns_default & {
        @include columnWithPush(5, 1, 12);

        @include media(before, laptop) {
          padding-left: 8px;
          padding-right: 8px;
          width: 100%;
          margin-left: 0;
          margin-bottom: 20px;
          @include column(10, 10);
        }
      }

      .columns_diafilm & {
        position: relative;
        @include columnWithPush(5, 1, 12);

        @include after() {

          @include media(before, laptop) {
            position: absolute;
            right: 0;
            bottom: 0;
            margin-right: 16px;
            border-top: 2px solid $white;
            padding-left: 8px;
            padding-right: 8px;
            margin-left: 0;
            left: 8px;
          }
        }

        @include media(before, laptop) {
          padding-left: 8px;
          padding-right: 8px;
          @include column(10, 10);
        }

        @include before() {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 2px;
          margin: 0 -1px;
          background-color: $white;

          @include media(before, laptop) {
            display: none;
          }
        }
      }

      .columns_contacts & {
        @include columnWithPush(5, 2, 12);

        @include media(before, laptop) {
          @include column(10, 10);
        }
      }
    }

    &_2 {
      .columns_default & {
        @include column(5, 12);

        @include media(before, laptop) {
          width: 100%;
          padding-left: 8px;
          padding-right: 8px;
          margin-left: 0;
          margin-bottom: 20px;
        }
      }

      .columns_diafilm & {
        @include column(6, 12);

        @include media(before, laptop) {
          width: 100%;
          margin-left: 0;
          padding-left: 8px;
          padding-right: 8px;
        }
      }

      .columns_contacts & {
        @include column(4, 12);

        @include media(before, laptop) {
          width: 100%;
        }
      }
    }
  }
}
