@charset "UTF-8";
@use "sass:map";
@use "sass:color";

/* --------------------
   Концепция
   -------------------- */

.concept {
  @extend %section;

  &_default {
    margin-bottom: 426px;
    background-color: $gray-fff;

    @include before() {
      position: absolute;
      bottom: -120px;
      left: 0;
      right: 0;
      height: 210px;
      border-radius: 50% / 40px;
      z-index: 1;
      width: 100%;
      display: block;
      background-color: #d1c2e5;

      @supports (clip-path: ellipse(65% 50% at center)) {
        border-radius: 0;
        clip-path: ellipse(65% 50% at center);
      }

      @include media(laptop) {
        display: none;
      }


    }

    @include media(before, laptop) {
      padding-bottom: 300px;
      position: relative;
      margin-bottom: 150px;
    }
  }

  &__container {
    @extend %container;

    @include media(before, laptop) {
      padding-left: 8px;
      padding-right: 8px;
      position: relative;
    }
  }

  &__row {
    @extend %row;

    @include media(before, laptop) {
      position: relative;
    }

    .concept_default & {
      position: relative;
      padding-top: 80px;
      padding-bottom: 70px;

      @include media(before, laptop) {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      @include before() {
        @include highlight();
        position: absolute;
        left: calc(2 / 12 * 100%);
        bottom: 0;
        width: 300px;
        height: 382px;
        @include background-image("cafeteria/about/concept/image-1", contain);

        @include media(before, laptop) {
          height: 400px;
          background-repeat: no-repeat;
          bottom: 40%;
          top: 94%;
          left: 0;
        }
      }

      @include after() {
        @include highlight();
        position: absolute;
        top: 100%;
        left: calc(2.5 / 12 * 100%);
        width: 536px;
        height: 696px;
        margin-top: -270px;
        @include background-image("cafeteria/about/concept/image-2", contain);

          @include media(before, laptop) {
            margin-top: 70px;
            height: 330px;
            background-repeat: no-repeat;
            z-index: 10;
        }
      }
    }
  }

  &__pictures {
    @include highlight();
    @extend %column;
    @extend %row;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    @include column(6, 12);
    display: flex;

    @include media(laptop) {
      flex-direction: row-reverse;
    }

    @include media(before, laptop) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }

    &_mobile {
      @include media(laptop) {
        display: none;
      }
    }

    &_desktop {
      @include media(before, laptop) {
        display: none;
      }
    }
  }

  &__picture {
    @include highlight();
    @extend %column;
    @include column(4, 6);
    padding-left: 16px;
    padding-right: 16px;

    @include media(before, laptop) {
      padding-left: 8px;
      padding-right: 8px;
      @include column(10, 10);

      &:last-child {
        display: none;
      }
    }
  }

  &__image {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 2px solid $black;
    border-radius: 4px;
  }

  &__body {
    @include highlight();
    @extend %column;
    @extend %row;
    @include column(5, 12);

    @include media(before, laptop) {
      width: 100%;
    }
  }

  &__label {
    @include highlight();
    @extend %column;
    @include column(5, 5);
    padding-left: 16px;
    padding-right: 16px;
    @include font(36px, 40px, $base-font, 700);
    text-transform: lowercase;

    @each $key, $level in $LEVELS {
      .root_#{map.get($level, slug)} & {
        color: map.get($level, color);
      }
    }

    @include media(before, laptop) {
      @include font(24px, 28px, $base-font, 700);
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__intro {
    @include highlight();
    @extend %column;
    @include column(5, 5);
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 14px;
    @include font(24px, 28px, $base-font, 400);
    color: $black;

    @include media(before, laptop) {
      @include font(18px, 28px, $base-font, 400);
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 36px;
    }
  }

  &__text {
    @include highlight();
    @extend %column;
    @include column(4, 5);
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 100px;
    @include font(14px, 20px, $base-font, 400);
    color: $black;

    @include media(before, laptop) {
      @include font(18px, 28px, $base-font, 400);
      margin-top: 36px;
      width: 100%;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
