@charset "UTF-8";
/* --------------------
   3дэ земля
   -------------------- */

.earth {
  @extend %section;

  &_inner {
    padding-top: 0;
    padding-bottom: 30px;

    @include media(laptop) {
      padding-top: 30px;
    }
  }

  &__container {
    @extend %container;

    @include media(before, laptop) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__row {
    @extend %row;

    .earth_inner & {
      position: relative;
      align-items: stretch;
    }

    @include media(before, laptop) {
      display: block;
    }
  }

  &__header {
    @include highlight();
    @extend %column;
    @extend %row;
    @include columnWithPush(4, 2, 12);

    .earth_inner & {
      position: relative;
      flex-direction: column;
      z-index: 1;

      @include media(before, laptop) {
        position: static;
        @include column(10, 10);
        padding-left: 8px;
        padding-right: 8px;
      }

      &.is-processing {
        @include loader($color: $green);
      }
    }
  }

  &__label {
    @include highlight();
    @extend %column;

    .earth_inner & {
      padding-left: 16px;
      padding-right: 16px;
      @include font(36px, 40px, $base-font, 700);
      text-transform: lowercase;
      color: $green;

      @include media(before, laptop) {
        @include font(24px, 28px, $base-font, 700);
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__text {
    @include highlight();
    @extend %column;

    .earth_inner & {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 10px;
      @include font(14px, 18px, $base-font, 400);
      color: $black;

      @include media(before, laptop) {
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__carousel {
    @include highlight();
    @extend %column;

    .earth_inner & {
      margin-top: auto;

      @include media(laptop) {
        opacity: 0;
        visibility: hidden;
      }

      @include transition() {
        transition-property: opacity, visibility;
      }
    }

    &.is-visible {
      .earth_inner & {
        opacity: 1;
        visibility: visible;

        @include media(before, laptop) {
//          position: absolute;
          z-index: 100;
          flex-wrap: wrap;
        }
      }
    }
  }

  &__viewport {
    @include highlight();
    @extend %column;

    .earth_inner & {
      position: relative;
      @include column(6, 12);
      height: 0;
      padding-top: calc(6 / 12 * 100%);
      z-index: 0;
      order: 1;

      @include media(before, laptop) {
        padding-top: 100%;
        width: 100%;
      }

      @include before() {
        position: absolute;
        top: 10%;
        left: calc(-6 / 6 * 100%);
        right: calc(3 / 6 * 100%);
        bottom: 10%;
        clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 60%);
        background-color: $gray-fff;
        transform: scale(0);
        transform-origin: 0 50%;
        z-index: -1;

        @include media(before, laptop) {
          width: 100%;
        }

        @supports (left: calc(-100% + (var(--full-width) - 100%) / -2)) {
          left: calc(-100% + (var(--full-width) - 100%) / -2);
        }
        @supports (left: calc(-100% + (min(var(--full-width), 1920px) - 100%) / -2)) {
          left: calc(-100% + (min(var(--full-width), 1920px) - 100%) / -2);
        }
      }

      @include after() {
        position: absolute;
        bottom: 0;
        left: calc(-3.5 / 6 * 100%);
        width: calc(4 / 6 * 100%);
        height: 0;
        padding-top: calc(240 / 480 / 6 * 4 * 100%);
        @include background-image("foyer/earth/animals", contain);
        background-repeat: no-repeat;
        pointer-events: none;
        opacity: 0;
        z-index: -1;

        @include media(before, laptop) {
          left: 0;
          z-index: 1;
        }
      }
    }

    .earth_inner.is-ready & {
      &::before {
        transform: scale(1);

        @include transition() {
          transition-property: transform;
        }
      }

      &::after {
        opacity: 1;

        @include transition() {
          transition-property: opacity;
        }
      }
    }

    .earth_inner.has-popup & {
      &::after {
        opacity: 0;
      }
    }

    .is-pointer & {
      cursor: pointer;
    }
  }

  &__player {
    @include highlight();

    .earth_inner & {
      position: absolute;
      top: 16px;
      left: 16px;
      right: 16px;
      bottom: 16px;
      border-radius: 50%;

      @include media(before, laptop) {
        @include column(10, 10);
        left: 0;
        right: 0;
      }

      canvas {
        border-radius: inherit;
        opacity: 0;
      }
    }

    .earth_inner.is-ready & {
      canvas {
        animation: fade-in .25s ease-out .25s;
        animation-fill-mode: forwards;
      }
    }

    .is-processing & {
      @include loader($color: $green);
    }
  }

  &__hint {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 2px 5px;
    margin-top: 16px;
    margin-left: 16px;
    @include font(12px, 14px, $base-font, 400);
    color: $gray-455;
    background-color: $white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    animation: none;

    @include transition() {
      transition-property: transform;
    }

    .is-pointer & {
      display: inline-block;
      vertical-align: top;
      animation: fade-in .25s ease-out;
      animation-fill-mode: forwards;
    }
  }
}
