@charset "UTF-8";
@use "sass:map";

/* --------------------
   Лифт
   -------------------- */

.elevator {
  @extend %section;
  position: relative;
  width: 100%;

  @include media(laptop) {
    min-height: 600px;
  }

  &__container {
    @extend %container;

    @include media(before, laptop) {
      padding-left: 8px;
      padding-right: 8px;
    }
    @include media(laptop) {
      height: 100%;
    }

    [data-id="foyer"] & {
      @include media(before, laptop) {
        height: 100%;
      }
    }
  }

  &__row {
    @extend %row;
    height: inherit;

    @include media(before, laptop) {
      position: relative;
      box-sizing: border-box;
      min-height: calc(max(var(--full-height) - 108px, 530px));
      padding-bottom: 66px;

      @include after() {
        position: absolute;
        bottom: 0;
        left: -8px;
        right: -8px;
        height: 66px;
        background-color: $black;
      }
    }
  }

  &__navigation {
    @extend %column;
    z-index: 10;

    @include media(before, laptop) {
      position: absolute;
      top: 0;
      left: -8px;
      right: -8px;
      bottom: 66px;
      display: none;
      width: auto;
      padding-left: 8px;
      padding-right: 8px;
      background-color: $black;
    }

    @include media(laptop) {
      position: relative;
      @include column(2, 12);
      height: 100%;
      padding-left: 16px;
      padding-right: 16px;
    }

    &.is-visible {
      display: block;
    }
  }

  &__panel {
    @extend %row;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100%;

    @include media(before, laptop) {
      justify-content: flex-start;
      padding-top: 40px;
      border-radius: 12px;
      background-color: $white;
    }
  }

  &__label {
    @include highlight();
    @extend %column;
    padding-left: 8px;
    padding-right: 8px;
    @include font(30px, 30px, $title-font, 700);
    text-transform: uppercase;
    text-align: center;
    color: $black;

    @include media(smart-x) {
      @include font(36px, 30px);
    }
    @include media(laptop) {
      display: none;
    }
  }

  &__number {
    &_default {
      @extend %column;
      display: block;
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: -40px;
      @include font(120px, 120px, $label-font, 700);
      text-align: center;
      color: $black;

      @include media(smart-x) {
        @include font(144px, 144px);
      }
      @include media(laptop) {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: auto;
      }
    }

    &_small {
      position: absolute;
      top: 50%;
      left: 8px;
      margin-top: -15px;
      @include font(34px, 30px, $label-font, 700);

      @include transition() {
        transition-property: color;
      }

      @each $key, $level in $LEVELS {
        [data-id="#{map.get($level, slug)}"] & {
          color: map.get($level, color);
        }
      }
    }
  }

  &__toolbar {
    @include highlight();
    @extend %column;
    @extend %row;
    flex-direction: column-reverse;
    counter-reset: level;
  }

  &__button {
    @extend %column;
    position: relative;
    display: block;
    width: 180px;
    height: 65px;
    margin: 0 auto;
    border: none;
    text-decoration: none;
    background-color: transparent;
    counter-increment: level;

    @include media(smart-x) {
      width: 200px;
      height: 70px;
    }

    @include media(laptop) {
      @include column(2, 2);
      padding-top: calc(70 / 200 * 100%);
    }

    @include before() {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      box-sizing: border-box;
      height: 0;
      width: 70%;
      padding-top: 70%;
      border: 4px solid $black;
      border-left-width: 3px;
      border-right-width: 3px;
      background-color: $white;
      transform: translate(-50%, -50%) skewX(25deg) rotateX(70deg) rotateZ(45deg);

      [data-id="viewing-hall"] & {
        @include media(laptop) {
          background-color: $gray-455;
        }
      }

      @include transition() {
        transition-property: background-color, border-color;
      }
    }

    @each $key, $level in $LEVELS {
      &:nth-child(#{$key}) {
        span {
          background-color: map.get($level, color);
        }

        @include hover() {
          &::before {
            border-color: map.get($level, color);
          }

          span {
            opacity: 1;
            visibility: visible;
          }
        }

        @include active() {
          &::before {
            border-color: map.get($level, color);
            background-color: map.get($level, color);
          }
        }
      }
    }

    & + & {
      margin-bottom: -20px;
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      vertical-align: baseline;
      padding: 3px 10px 1px 5px;
      border-radius: 4px;
      margin-top: -9px;
      @include font(12px, 18px, $title-font, 700);
      text-transform: uppercase;
      white-space: nowrap;
      color: $black;
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, 0, 9000px);

      @include transition() {
        transition-property: opacity, visibility;
      }

      @include before(counter(level)) {
        display: inline-block;
        vertical-align: baseline;
        margin-right: 4px;
        @include font(14px, 18px, $label-font, 700);
        text-transform: none;
        color: $white;
      }
    }
  }

  &__hint {
    display: none;
    @include media(laptop) {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 80px;
      border: none;
      margin-top: auto;
      margin-bottom: 30px;
      @include font(14px, 20px, $base-font, 400);
      text-decoration: none;
      text-align: center;
      color: $black;
      background-color: transparent;

      @include transition($delay: .1s) {
        transition-property: color, opacity, visibility, transform;
      }

      @include before() {
        @include svgIcon(icon-arrow-black-33, $top: 16px);
        transform: rotate(-90deg);
        opacity: 1;
      }

      @include after() {
        @include svgIcon(icon-arrow-black-33, $top: 49px);
        transform: rotate(-90deg);
      }

      [data-id="viewing-hall"] & {
        color: $white;

        &::before {
          @include svgIcon(icon-arrow-white-33, $top: 16px);
        }

        &::after {
          @include svgIcon(icon-arrow-white-33, $top: 49px);
        }
      }

      [data-id="cafeteria"] & {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, 50%, 0);
      }
    }
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 28px;

    @include media(laptop) {
      display: none;
    }
  }

  &__toggle {
    @include highlight();
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 66px;
    padding: 18px 8px;
    margin: 0 auto;
    border: none;
    text-align: center;
    z-index: 15;

    @include media(laptop) {
      display: none;
    }

    @include before() {
      position: absolute;
      top: 0;
      left: -8px;
      right: -8px;
      bottom: 0;
      background-color: $black;
      z-index: -1;
    }

    @include after() {
      @include svgIcon(icon-quote-26-white, $right: 20px);
      transform: rotate(90deg);
    }
  }

  &__name {
    @include font(24px, 30px, $title-font, 700);
    text-transform: uppercase;
    color: $white;
  }

  &__viewport {
    width: 100%;
    height: inherit;

    @include media(before, laptop) {
      position: relative;
      display: none;
    }

    @include media(laptop) {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
    }

    &.is-visible {
      display: block;
    }
  }

  &__caret {
    position: relative;
    height: inherit;

    @include media(before, laptop) {
      transform: none !important;
    }
    @include media(laptop) {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: nowrap;
    }

    [data-id="foyer"] & {
      @include media(before, laptop) {
        height: 100%;
      }
    }
  }

  &__floor {
    display: none;
    height: inherit;
    min-height: 100%;

    @include media(before, laptop) {
      margin-left: -8px;
      margin-right: -8px;
    }
    @include media(laptop) {
      display: block;
    }

    &.is-active {
      display: block;
    }
  }
}
