@charset "UTF-8";
@use "sass:map";

/* --------------------
   Лента
   -------------------- */

.feed {

  &_collection {
    margin-bottom: 50px;
  }

  &_artists {
    margin-bottom: 50px;
  }

  &_gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;

    @include media(before, laptop) {
      padding-top: 36px;
      padding-bottom: 0;
    }
  }

  &_bg-white {
    background-color: $white;
  }

  &_catalog {
    &.feed_viewing-hall {
      padding-top: 50px;
      background-color: $gray-455;

      @include media(before, laptop) {
        padding-top: 36px;
      }
    }
  }

  &__container {
    @extend %container;

    @include media(before, laptop) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__row {
    @extend %row;
  }

  &__header {
    @include highlight();
    @extend %column;
    position: relative;
    z-index: 1;

    .feed_artists & {
      @extend %row;
      @include columnWithPush(10, 2, 12);

      @include media(before, laptop) {
        margin-left: 0;
        width: 100%;
        margin-top: 0;
      }
    }

    .feed_catalog & {
      @extend %row;
      @include columnWithPush(10, 2, 12);

      @include media(before, laptop) {
        margin-left: 0;
        width: 100%;
      }
    }

    .feed_gallery & {
      margin-bottom: -30px;

      @include media(before, laptop) {
        margin-left: 0;
        width: 100%;
        margin-bottom: 0;
      }
    }
  }

  &__label {
    @include highlight();
    @extend %column;

    .feed_artists & {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 12px;
      margin-bottom: 10px;
      @include font(36px, 40px, $base-font, 700);
      text-transform: lowercase;
      color: $pink;

      @include media(before, laptop) {
        @include font(24px, 28px, $base-font, 700);
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .feed_catalog & {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 12px;
      margin-bottom: 10px;
      @include font(36px, 40px, $base-font, 700);
      text-transform: lowercase;

      @include media(before, laptop) {
        @include font(24px, 28px, $base-font, 700);
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    @each $key, $level in $LEVELS {
      .feed_#{map.get($level, slug)} & {
        color: map.get($level, color);
      }
    }
  }

  &__text {
    @include highlight();
    @extend %column;

    .feed_artists & {
      @include column(4, 10);
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 14px;
      @include font(14px, 18px, $base-font, 400);
      color: $black;

      @include media(before, laptop) {
        @include column(10, 10);
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .feed_catalog & {
      @include column(4, 10);
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 14px;
      @include font(14px, 18px, $base-font, 400);
      color: $white;

      @include media(before, laptop) {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }

  &__form {
    .feed_artists & {
      @include highlight();
      @extend %column;
      @include columnWithPush(10, 2, 12);
      margin-bottom: 25px;

      @include media(before, laptop) {
        @include column(10, 10);
        padding-left: 0;
      }
    }

    .feed_catalog & {
      @include highlight();
      @extend %column;
      @include columnWithPush(10, 2, 12);
      margin-bottom: 25px;

      @include media(before, laptop) {
        @include column(10, 10);
      }
    }
  }

  &__tags {
    .feed_news & {
      @include highlight();
      @extend %column;
      @extend %row;
      @include columnWithPush(10, 2, 12);
      margin-bottom: 50px;
    }

    .feed_artists & {
      @include highlight();
      @extend %column;
      @extend %row;
      @include columnWithPush(10, 2, 12);
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 50px;

      @include media(before, laptop) {
        margin-left: 0;
        width: 100%;
        margin-bottom: 0;
        padding-left: 8px;
        padding-right: 8px;
        display: none;
      }
    }
  }

  &__list {
    @include highlight();
    @extend %column;
    @extend %row;

    .feed_collection & {
      @include columnWithPush(7, 1, 12);
      margin-top: -25px;
      margin-bottom: -25px;

      @include media(before, laptop) {
        padding: 0;
        margin-left: 0;
        width: 100%;
      }
    }

    .feed_news & {
      align-items: stretch;
      @include columnWithPush(10, 2, 12);
      margin-top: -25px;
      margin-bottom: -25px;

      @include media(before, laptop) {
        margin-left: 0;
        width: 100%;

      }
    }

    .feed_artists & {
      @include columnWithPush(10, 2, 12);
      margin-top: -25px;
      margin-bottom: -25px;

      @include media(before, laptop) {
        @include column(10, 10);
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;
      }
    }

    .feed_catalog & {
      align-items: stretch;
      @include columnWithPush(10, 2, 12);
      margin-top: -25px;
      margin-bottom: -25px;

      @include media(before, laptop) {
        margin-left: 0;
        width: 100%;
        padding-left: 16 px;
      }
    }

    .feed_collections & {
      align-items: stretch;
      @include columnWithPush(10, 2, 12);
      margin-top: -25px;
      margin-bottom: -25px;

      @include media(before, laptop) {
        @include column(10, 10);
      }
    }
  }

  &__item {
    @include highlight();
    @extend %column;
    padding-left: 16px;
    padding-right: 16px;

    @include media(before, laptop) {
      padding-left: 0;
      padding-right: 0;
    }

    &_default {
      .feed_news & {
        @include column(3, 10);
      }

      .feed_catalog & {
        @include column(3.333333, 10);

        @include media(before, laptop) {
          @include column(10, 10);
          padding-left: 8px;
          padding-right: 8px;
          margin-bottom: 20px;
          margin-top: 20px;
        }
      }

      .feed_collections & {
        @include column(10, 10);

        @include media(before, laptop) {
          padding: 8px;
        }
      }
    }

    &_large {
      .feed_news & {
        @include column(4, 10);
      }
    }

    &_full {
      .feed_collection & {
        @include column(7, 7);
      }

      .feed_artists & {
        @include column(10, 10);
      }
    }

    //&_half {}

    //&_third {}

    .feed_collection & {
      margin-top: 25px;
      margin-bottom: 25px;

      @include media(before, laptop) {
        padding: 0 8px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .feed_artists & {
      margin-top: 25px;
      margin-bottom: 25px;

      @include media(before, laptop) {
        margin-bottom: 0;
      }
    }

    .feed_news & {
      margin-top: 25px;
      margin-bottom: 25px;

      @include media(before, laptop) {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .feed_catalog & {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .feed_collections & {
      margin-top: 25px;
      margin-bottom: 25px;

      @include media(before, laptop) {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__pagination {
    @include highlight();
    @extend %column;

    .feed_collection & {
      @include columnWithPush(7, 1, 12);
      margin-top: 50px;
      text-align: center;

      @include media(before, laptop) {
        width: 100%;
        margin-left: 0;
      }
    }

    .feed_collections & {
      @include columnWithPush(10, 2, 12);
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
    }

    .feed_news & {
      @include columnWithPush(10, 2, 12);
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
    }

    .feed_artists & {
      @include columnWithPush(10, 2, 12);
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
    }

    .feed_catalog & {
      @include columnWithPush(10, 2, 12);
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
    }
  }

  &__button {
    &_tag {
      .feed_news & {
        margin-left: 16px;
        margin-right: 16px;
      }

      .feed_artists & {
        @include after("/") {
          display: inline-block;
          vertical-align: bottom;
          margin-left: em(4, 14);
          margin-right: em(4, 14);
          @include font(14px, 18px, $base-font, 400);
          color: $gray-59;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
