@charset "UTF-8";
/* --------------------
   Фойе
   -------------------- */

.foyer {
  @include highlight();
  @extend %row;

  @include media(laptop) {
    width: 100%;
    height: 100%;
    align-items: stretch;
  }

  &__header {
    @include highlight();
    @extend %column;
    position: relative;
    @include column(4, 8);
    padding-left: 8px;
    padding-right: 8px;
    z-index: 1;
    pointer-events: none;

    @include media(laptop) {
      @include column(2, 10);
      height: 100%;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 170px;

      @include before() {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 200%;
        height: 0;
        padding-top: calc(170 / 415 * 2 * 100%);
        @include background-image("main/foyer/image-1", contain);
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 1;
      }
    }
  }

  &__label {
    margin-bottom: 10px;
    @include font(24px, 20px, $base-font, 700);
    text-transform: lowercase;
    color: $green;
    pointer-events: all;

    @include media(laptop) {
      margin-top: 0;
      @include font(36px, 40px);
    }
  }

  &__lead {
    @include font(14px, 20px, $base-font, 600);
    color: $black;

    @include media(laptop) {
      @include font(24px, 30px);
    }
  }

  &__menu {
    @extend %column;
    @extend %row;
    margin-top: 27px;
    margin-bottom: 130px;

    @include media(laptop) {
      @include column(8, 10);
      height: 100%;
      margin-top: 0;
    }
  }

  &__item {
    @include highlight();
    @extend %column;
    position: relative;

    @include media(laptop) {
      @include column(2, 8);
      height: 100%;
    }

    @include before() {
      display: none;

      @include media(laptop) {
        position: absolute;
        display: block;
        height: 0;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 1;
      }
    }

    &:nth-child(1) {
      &::before {
        left: 1%;
        bottom: 0;
        width: 300%;
        padding-top: calc(340 / 618 * 3 * 100%);
        @include background-image("main/foyer/image-2", contain);
      }
    }

    &:nth-child(2) {
      &::before {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        padding-top: calc(180 / 206 * 100%);
        @include background-image("main/foyer/image-3", contain);
      }
    }

    &:nth-child(3) {
      &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        padding-top: calc(290 / 426 * 2 * 100%);
        @include background-image("main/foyer/image-4", contain);
        background-position: 16px 50%;
      }
    }

    &:nth-child(4) {
      &::before {
        right: 16px;
        bottom: 0;
        width: 200%;
        padding-top: calc(344 / 415 * 2 * 100%);
        @include background-image("main/foyer/image-5", contain);
      }
    }

    & + & {
      margin-top: 26px;

      @include media(laptop) {
        margin-top: 0;
      }
    }
  }

  &__link {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    @include font(24px, 28px, $title-font, 700);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $black;

    @include media(laptop) {
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 16px;
      padding-right: 16px;
      color: $white;
    }

    @include media(laptop) {
      @include before() {
        @include overlay(transparentize($green, .2), $left: 15px, $right: 15px);
        pointer-events: none;
      }
    }

    span {
      display: block;
      width: 100%;
      box-sizing: border-box;

      @include media(laptop) {
        position: absolute;
        top: 40%;
        left: 0;
        padding-left: 10px;
        padding-right: 10px;
      }

      @include before() {
        @include svgIcon(icon-arrow-round-black-22, $right: -11px);
        bottom: 100%;
        margin-bottom: 10px;
        pointer-events: none;

        @include media(laptop) {
          @include svgIcon(icon-arrow-round-white-22, $top: auto);
          margin-bottom: 10px;
        }
      }
    }
  }
}
