@charset "UTF-8";
/* --------------------
   Лого
   -------------------- */

.logo {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  @include reset-font();

  &_default {
    @include svgSprite(logo-mobile);

    @include media(laptop) {
      @include svgSprite(logo-full);
    }
  }
}
