@charset "UTF-8";
/* --------------------
   Соцсети
   -------------------- */

.networks {

  &_footer {
    @extend %row;
    align-items: center;
  }

  &_sharing {
    @extend %section;
    margin-top: 36px;
    margin-bottom: 50px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__container {
    @extend %container;
  }

  &__row {
    @extend %row;
  }

  &__label {
    @include highlight();
    @extend %column;

    .networks_footer & {
      @include column(4, 8);
      padding-left: 8px;
      padding-right: 8px;
      @include font(14px, 20px, $base-font, 700);
      color: $white;

      @include media(laptop) {
        @include column(1, 3);
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

  &__list {
    @include reset-list();

    .networks_footer & {
      @extend %column;
      @extend %row;
      align-items: center;
      justify-content: space-between;
      @include column(4, 8);
      padding-left: 8px;
      padding-right: 8px;

      @include media(laptop) {
        @include column(2, 3);
        padding-left: 16px;
        padding-right: 16px;
        justify-content: flex-start;
      }
    }

    .networks_sharing & {
      @extend %column;
      @extend %row;
      @include columnWithPush(5, 1, 12);
      padding-left: 16px;
      padding-right: 16px;

      @include media(before, laptop) {
        margin-left: 0;
        width: 100%;
      }
    }
  }

  &__item {
    display: block;

    & + & {
      .networks_footer & {
        @include media(laptop) {
          margin-left: 32px;
        }
      }

      .networks_sharing & {
        margin-left: 24px;
      }
    }
  }
}
