@charset "UTF-8";
@use "sass:color";

/* --------------------
   Выстовочный зал
   -------------------- */

.showroom {
  @include highlight();

  &_main {
    @extend %row;
    width: 100%;
    align-items: stretch;

    @include media(laptop) {
      height: 100%;
    }
  }

  &_inner {
    padding-top: 40px;
    padding-bottom: 40px;

    @include media(before, laptop) {
      padding-top: 36px;
    }
  }

  &_gray {
    background-color: $gray-fff;
  }

  &__container {
    @extend %container;

    @include media(before, laptop){
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__row {
    @extend %row;
  }

  &__header {
    @include highlight();
    @extend %column;

    .showroom_inner & {
      @include columnWithPush(4, 2, 12);
      padding-left: 16px;
      padding-right: 16px;

      @include media(before, laptop) {
        margin-left: 0;
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .showroom_main & {
      position: relative;
      @include column(4, 8);
      padding-left: 8px;
      padding-right: 8px;
      z-index: 1;
      pointer-events: none;

      @include media(laptop) {
        @include column(10, 10);
        padding-top: 170px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: -40px;
      }
    }
  }

  &__label {
    text-transform: lowercase;
    color: $yellow;
    pointer-events: all;
    @include font(36px, 40px);

    @include media(before, laptop) {
      @include font(24px, 28px, $base-font, 700);
      margin-bottom: 5px;
    }
  }

  &__text {
    margin-top: 5px;
    @include font(14px, 18px, $base-font, 400);
  }

  &__publications {
    @include highlight();
    @extend %column;
    position: relative;

    @include media(before, laptop) {
      @include column(6.5, 8);
      padding-left: 8px;
      padding-right: 8px;
    }

    @include media(laptop) {
      @include column(4, 10);
      height: calc(100% - 170px);
      padding-top: 40px;
      margin-top: 24px;

      @include after() {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        bottom: 0;
        background-color: color.adjust($yellow, $alpha: -.5);
        z-index: -1;
      }
    }

    @include before() {
      display: block;
      @include background-image("main/showroom/image-1", contain);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      z-index: -1;

      @include media(before, laptop) {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: calc(208 / 312 * 100%);
        border-radius: 4px 4px 0 0;
      }
      @include media(laptop) {
        position: absolute;
        top: 60px;
        left: 20px;
        right: 20px;
        bottom: calc(50% + 20px);
      }
    }
  }

  &__models {
    @include highlight();
    @extend %column;
    position: relative;

    @include media(before, laptop) {
      @include column(6.5, 8);
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 20px;
    }

    @include media(laptop) {
      @include columnWithPush(5, -1, 10);
      height: calc(100% - 170px);
      padding-top: 40px;

      @include after() {
        position: absolute;
        top: 75%;
        left: 16px;
        right: 16px;
        bottom: 0;
        background-color: color.adjust($yellow, $alpha: -.5);
        z-index: -1;
      }
    }

    @include before() {
      display: block;
      @include background-image("main/showroom/image-2", contain);
      background-position: 50% 50%;
      background-repeat: no-repeat;

      @include media(before, laptop) {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: calc(323 / 393 * 100%);
        border-radius: 4px 4px 0 0;
        margin-bottom: -10px;
        z-index: 1;
      }
      @include media(laptop) {
        position: absolute;
        top: 25%;
        left: 20px;
        right: 20px;
        bottom: 25%;
        z-index: -1;
      }
    }
  }

  &__link {
    @extend %column;
    position: relative;
    display: block;
    @include font(18px, 24px, $base-font, 600);
    text-decoration: none;
    color: $black;

    @include media(laptop) {
      position: absolute;
      padding-left: 16px;
      padding-right: 16px;
      @include font(24px, 28px);
    }

    @include after() {
      @include svgIcon(icon-arrow-black-23, $top: 50px, $right: 50px);

      @include media(laptop) {
        top: 20px;
        right: 20px;
      }
    }

    .showroom__publications & {
      @include media(before, laptop) {
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 50px;
        padding-right: 70px;
        background-color: color.adjust($yellow, $alpha: -.5);
        border-radius: 0 0 4px 4px;
      }
      @include media(laptop) {
        top: 50%;
        margin-top: 30px;
        @include columnWithPush(2, .5, 4);
      }
    }

    .showroom__models & {
      @include media(before, laptop) {
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 50px;
        padding-right: 70px;
        background-color: color.adjust($yellow, $alpha: -.5);
        border-radius: 4px 4px 0 0;
      }
      @include media(laptop) {
        @include columnWithPush(2, 2, 5);
      }
    }
  }

  &__extra {
    @include highlight();
    @extend %column;

    @include media(laptop) {
      position: relative;
      @include columnWithPush(2, -1, 10);
      height: calc(100% - 170px);
      padding-top: 40px;

      @include before() {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 60%;
        display: block;
        @include background-image("main/showroom/image-3", contain);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        z-index: 0;
      }

      @include after() {
        position: absolute;
        top: 25%;
        left: 16px;
        right: 16px;
        bottom: 0;
        background-color: color.adjust($yellow, $alpha: -.5);
        z-index: -1;
      }
    }
  }

  &__model {
    @include highlight();
    @extend %column;
    @include columnWithPush(9, 2, 12);
    margin-top: 40px;

    @include media(before, laptop) {
      margin-left: 0;
      width: 100%;
      margin-top: 0;
      display: block;
    }
  }

  &__after {
    @include highlight();
    @extend %column;

    .showroom_main & {
      @include media(before, laptop) {
        position: absolute;
        top: 0;
        right: 0;
        @include column(1, 8);
        height: 50%;
        padding-left: 8px;
        padding-right: 8px;
      }

      @include media(laptop) {
        position: relative;
        align-self: flex-end;
        justify-self: flex-end;
        @include column(1, 10);
        height: calc(100% - 170px);
        padding-top: 40px;
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    .showroom_inner & {
      position: relative;
      align-self: flex-end;
      justify-self: flex-end;
      height: 100%;
      padding-top: 40px;
      padding-left: 16px;
      padding-right: 16px;

      @include media(laptop) {
        @include column(1, 12);
        padding-top: 0;
      }

      @include media(before, laptop) {
        @include font(20px, 24px, $title-font, 700);
        padding-top: 0;
      }
    }
  }

  &__more {
    position: absolute;
    left: 100%;
    display: inline-block;
    vertical-align: bottom;
    margin-left: -8px;
    @include font(24px, 28px, $title-font, 700);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    transform-origin: 0 100%;

    @include media(laptop) {
      margin-left: -16px;
    }

    @include media(before, laptop) {
      @include font(24px, 28px, $title-font, 700);
      left: 16px;
    }

    .showroom_inner & {
      color: $black;

      @include media(laptop) {
        transform: rotate(-90deg);
      }
    }

    .showroom_main & {
      top: 300px;
      color: $yellow;
      transform: rotate(-90deg);

      @include media(laptop) {
        top: 80%;
      }

      @include before() {
        display: inline-block;
        vertical-align: bottom;
        @include svgSprite(icon-arrow-16-yellow);
        margin-right: 4px;
        order: 2;
        transform: rotate(90deg);

        @include media(laptop) {
          @include svgSprite(icon-arrow-16-yellow);
        }
      }

      @include after() {
        display: none;
      }
    }

    @include before() {
      display: inline-block;
      vertical-align: bottom;
      @include svgSprite(icon-arrow-16-black);
      margin-right: 4px;
      order: 2;
      transform: rotate(90deg);

      @include media(before, laptop) {
        display: none;
      }
    }

    @include after() {
      display: inline-block;
      vertical-align: bottom;
      @include svgSprite(icon-arrow-16-gray);
      margin-left: 4px;

      .model_inner & {
        @include svgSprite(icon-arrow-16-gray);
      }

      @include media(laptop) {
        display: none;
      }
    }
  }
}
