@charset "UTF-8";
@use "sass:map";

/* --------------------
   История
   -------------------- */

.story {
  counter-increment: story;

  @include media(before, laptop) {
    margin-top: 14px;
  }

  &__header {
    @include font(24px, 30px, $base-font, 600);

    @include before(counter(story) ".") {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    color: $black;

    @include before("«");
    @include after("»");
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;

    @each $key, $level in $LEVELS {
      .root_#{map.get($level, slug)} & {
        color: map.get($level, color);
      }
    }

    @include media(before, laptop) {
      margin-bottom: 14px;
    }

    @include hover() {
      text-decoration: none;
    }
  }

  &__text {
    margin-top: 24px;
    @include font(18px, 28px, $base-font, 400);
    color: $black;

    @include media(before, laptop) {
      @include font(16px, 24px, $base-font, 400);
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  &__figure {
    margin-top: 50px;

    @include media(before, laptop) {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}
