@charset "UTF-8";
@use "sass:map";

/* --------------------
   Вкладки
   -------------------- */

.tabs {
  @extend %section;

  &__container {
    @extend %container;

    @include media(before, laptop) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__row {
    @extend %row;
  }

  &__label {
    @extend %column;
  }

  &__list {
    @include highlight();
    @extend %column;

    .tabs_default & {
      position: relative;
      @include columnWithPush(6, 2, 12);
      overflow: hidden;

      @include media(before, laptop) {
        @include column(10, 10);
        margin-bottom: 10px;
        padding-left: 8px;
        padding-right: 8px;
      }

      @include after() {
        position: absolute;
        left: 16px;
        bottom: 0;
        width: 100%;
        border-bottom: 2px solid $black;

        @include media(before, laptop) {
          left: 8px;
          right: 8px;
          width: calc(100% - 16px);
        }

        .layout_gray & {
          border-bottom-color: $white;
        }
      }
    }
  }

  &__overflow {
    @extend %row;
    overflow: hidden;
  }

  &__tab {
    @include highlight();
    @extend %column;
    position: relative;
    display: block;
    padding: 0;
    border: none;
    background-color: transparent;
    white-space: nowrap;
    @include no-tap-highlight();
    cursor: pointer;

    &:nth-child(2) {
      @include media(before, laptop) {
        overflow: hidden;
        word-wrap: break-word;
        word-spacing: -100vw;
      }
    }

    .tabs_default & {
      position: relative;
      @include column(3, 6);
      padding: 20px 16px 14px;
      @include font(36px, 40px, $base-font, 700);
      color: $black;

      @include media(before, laptop) {
        @include font(24px, 30px, $base-font, 600);
        text-align: left;
        padding-left: 0;
        left: 0;
        padding-top: 10px;
        text-transform: lowercase;
      }

      .layout_gray & {
        color: $white;
      }

      @include after() {
        position: absolute;
        left: 16px;
        bottom: -7px;
        width: 100%;
        height: 16px;
        transform: scaleY(0);
        transform-origin: 50% 50%;
        z-index: 1;

        @include media(before, laptop) {
          @include font(20px, 24px, $base-font, 600);
          text-align: left;
          padding-left: 0;
          left: 0;
        }

        @include transition() {
          transition-property: transform;
        }


        @each $key, $level in $LEVELS {
          .root_#{map.get($level, slug)} & {
            background-color: map.get($level, color);
          }
        }
      }
    }

    @include transition() {
      transition-property: font-weight, color, background-color;
    }

    @include hoverWithin() {
      &::after {
        transform: scaleY(1);
      }
    }

    @include aria(selected) {
      &::after {
        transform: scaleY(1);
      }
      @each $key, $level in $LEVELS {
        .root_#{map.get($level, slug)} & {
          color: map.get($level, color);
        }
      }
    }
  }

  &__panel {
    display: none;

    .tabs_default & {
      padding-top: 50px;

      @include media(before, laptop) {
        padding-top: 36px;
      }
    }

    @include aria(hidden, false) {
      display: block;
    }

    &:target {
      @include has(no-js) {
        display: block;
      }
    }
  }
}
