@charset "UTF-8";
/* --------------------
   Блок текста
   -------------------- */

.text {
  @extend %section;

  &_default {
    margin-top: 36px;
    margin-bottom: 36px;

    @include media(before, laptop) {
      margin-bottom: 25px;
      margin-top: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_small {
    margin-top: 36px;
    margin-bottom: 36px;
    @include media(before, laptop) {
      width: 100%;
    }

    &:first-child {
      margin-top: 0;

      @include media(before, laptop) {
        margin-bottom: 20px;
      }

    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_large {
    margin-top: 36px;
    margin-bottom: 36px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_artist {
    margin-top: 36px;
    margin-bottom: 36px;

    @include media(before, laptop) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &_narrow {
    .columns & {
      margin-left: -16px;
      margin-right: -16px;

      @include media(before, laptop) {
        margin-left: -8px;
        margin-right: 0;
      }
    }
  }

  &__container {
    @extend %container;

    @include media(before, laptop) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__row {
    @extend %row;

    .text_artist & {
      flex-direction: row-reverse;

      @include media(before, laptop) {
        flex-direction: column;
      }
    }
  }

  &__label {
    @include highlight();
    @extend %column;
  }

  &__body {
    @include highlight();
    @extend %column;

    .text_default & {
      @include font(18px, 28px, $base-font, 400);
      color: $black;

      @include media(before, laptop) {
        @include font(16px, 24px, $base-font, 400);
      }
    }

    .text_large & {
      @include font(24px, 28px, $base-font, 400);
      color: $black;

      @include media(before, laptop) {
        @include font(16px, 24px, $base-font, 400);
      }
    }

    .text_small & {
      @include font(14px, 20px, $base-font, 400);
      color: $black;

      .columns_diafilm & {
        color: $white;
      }
    }

    .text_artist & {
      @include font(18px, 28px, $base-font, 400);
      color: $black;
    }

    .text_narrow & {
      .columns & {
        @include column(3, 5);
        padding-left: 16px;
        padding-right: 16px;

        @include media(before, laptop) {
          width: 100%;
          padding: 0 8px;
          margin-right: 0;
        }
      }
    }

    .text__container & {
      padding-left: 16px;
      padding-right: 16px;

      .text_default & {
        @include columnWithPush(7, 1, 12);

        .tabs_default & {
          @include columnWithPush(10, 2, 12);

          @include media(before, laptop) {
            @include column(10, 10);
          }
        }

        @include media(before, laptop) {
          padding-left: 8px;
          padding-right: 8px;
          @include column(10, 10);
        }
      }

      .text_artist & {
        @include column(6, 12);

        @include media(before, laptop) {
          width: 100%;
          padding-left: 8px;
          padding-right: 8px;
          order: 2;
        }
      }
    }
  }

  &__aside {
    @include highlight();
    @extend %column;

    .text_artist & {
      @include columnWithPush(5, 1, 12);
      padding-left: 16px;
      padding-right: 16px;

      @include media(before, laptop) {
        @include column(8, 10);
        padding-left: 8px;
        padding-right: 8px;
        order: 1;
        margin-bottom: 20px;
      }
    }
  }
}
