@charset "UTF-8";
@use "sass:map";

/* --------------------
   Заголовок
   -------------------- */

.title {
  @extend %section;
  position: relative;

  &__mobile {
    @include media(laptop) {
      display: none;
    }
  }

  &__desktop {
    @include media(before, laptop) {
      display: none;
    }
  }

  &_image {
    min-height: 640px;

    @include media(wide) {
      min-height: 700px;
    }

    @include media(before, laptop) {
      min-height: 0;
    }

    @include before() {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 640px;
      opacity: .5;
      z-index: -1;

      @include media(before, laptop) {
        min-height: 0;
        height: 88%;
      }

      @include media(wide) {
        height: 700px;
      }

      @each $key, $level in $LEVELS {
        .root_#{map.get($level, slug)} & {
          background-color: map.get($level, background);
        }
      }
    }
  }

  &_text {
    margin-top: 40px;

    @include media(before, laptop) {
      margin-top: 36px;
    }

    &:first-child {
      margin-top: 0;
      padding-top: 60px;

      @include media(before, laptop) {
        padding-top: 36px;
      }
    }
  }

  &_section {
    padding-top: 36px;

    @include media(laptop) {
      padding-top: 80px;
    }
  }

  &__container {
    @extend %container;

    @include media(before, laptop) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__row {
    @extend %row;

    .title_image & {
      justify-content: stretch;
    }

    .title_section & {
      position: relative;
    }
  }

  &__back {
    @include highlight();
    @extend %column;

    .title_image & {
      position: relative;
      align-self: stretch;
      @include column(1, 12);
      min-height: 100%;
      padding-left: 16px;
      padding-right: 16px;

      @include media(before, laptop) {
        padding-left: 8px;
        padding-right: 8px;
        @include column(1, 20);
      }
    }

    .title_text & {
      position: relative;
      @include column(1, 12);
      padding-left: 16px;
      padding-right: 16px;

      @include media(before, laptop) {
        @include column(10, 10);
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }

  &__link {
    position: absolute;
    left: 100%;
    display: inline-block;
    vertical-align: bottom;
    @include font(24px, 28px, $title-font, 700);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: $gray-59;
    transform: rotate(-90deg);

    &_desktop {
      @include media(before, laptop) {
        display: none;
      }
    }

    .title_image & {
      top: 80%;
      margin-left: -16px;
      transform-origin: 0 100%;

      @include media(before, laptop) {
        transform: rotate(-90deg);
        @include font(14px, 20px, $title-font, 700);
        top: auto;
        bottom: 0;
        margin-left: 0;
      }
    }

    .title_text & {
      top: 0;
      left: auto;
      right: 0;
      margin-right: 16px;
      transform-origin: 100% 100%;

      @include media(before, laptop) {
        position: static;
        transform: rotate(0);
        @include font(14px, 20px, $title-font, 700);
        top: 90%;
        margin-left: 0;
        margin-bottom: 14px;

        @include before() {
          @include media(before, laptop) {
            transform: rotate(0deg);
          }
        }
      }
    }

    @include before() {
      display: inline-block;
      vertical-align: bottom;
      margin-right: 4px;
      transform: rotate(-90deg);
      @include svgSprite(icon-arrow-16-gray);

      @include media(before, laptop) {
        @include svgSprite(icon-arrow-10-gray);
        transform: rotate(90deg);
        margin-right: 10px;
//        vertical-align: center;
      }
    }
  }

  &__picture {
    @include highlight();
    @extend %column;

    .title_image & {
      @include column(11, 12);
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 60px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      @include media(before, laptop) {
        margin-bottom: 0;
        padding-left: 8px;
        padding-right: 8px;
        overflow: hidden;
        @include column(9.4, 10);
        min-height: 150px;
      }
    }

    @include media(before, laptop) {
      margin-bottom: 36px;
    }
  }

  &__image {
    width: 100%;
    max-width: 100%;
    border-radius: inherit;

    @include media(before, laptop) {
      width: 100%;
      max-width: 100%;
      height: 100%;
      margin-left: 0;
      min-height: 191px;
    }
  }

  &__levels {
    @include highlight();
    @extend %column;

    .title_section & {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      @include column(2, 12);
      padding-left: 16px;
      padding-right: 16px;
      z-index: 5;

      @include media(laptop) {
        display: block;
      }
    }
  }

  &__label {
    @include highlight();
    @extend %column;

    .title_image & {
      @include columnWithPush(9, 1, 12);
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 0;
      margin-bottom: 0;
      @include font(65px, 75px, $title-font, 700);
      text-transform: uppercase;
      color: $black;

      @include media(before, laptop) {
        padding: 20px;
        @include font(30px, 32px, $title-font, 700);
        @include column(10, 10);
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .title_text & {
      @include column(9, 12);
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 0;
      margin-bottom: 0;
      @include font(65px, 75px, $title-font, 700);
      text-transform: uppercase;
      color: $black;

      @include media(before, laptop) {
        @include font(30px, 36px, $title-font, 700);
        margin-left: 0;
        padding-left: 8px;
        padding-right: 8px;
        width: 90%;
      }

      .layout_gray & {
        @include columnWithPush(7, 1, 12);
        color: $white;

        @include media(before, laptop) {
          @include font(30px, 36px, $title-font, 700);
          margin-left: 0;
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }

    .title_section & {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 0;
      margin-bottom: 10px;
      @include font(36px, 40px, $title-font, 700);
      text-transform: uppercase;
      color: $black;

      @include media(laptop) {
        @include columnWithPush(10, 2, 12);
        @include font(65px, 75px, $title-font, 700);
      }

      @include media(before, laptop) {
        padding-left: 8px;
        padding-right: 8px;
      }

      .layout_gray & {
        color: $white;
      }
    }
  }

  &__date {
    @include highlight();
    @extend %column;

    .title_text & {
      @include columnWithPush(9, 1, 12);
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 7px;
      margin-bottom: 0;
      @include font(14px, 30px, $base-font, 600);

      @include media(before, laptop) {
        @include font(14px, 18px, $base-font, 600);
        margin-left: 0;
        padding-left: 8px;
        padding-right: 8px;
      }

      @each $key, $level in $LEVELS {
        .root_#{map.get($level, slug)} & {
          color: map.get($level, color);
        }
      }
    }
  }

  &__number {
    display: block;
    width: 100%;
    margin-top: auto;
    margin-bottom: -40px;
    @include font(144px, 144px, $label-font, 700);
    text-align: center;
    color: $black;
  }

  &__nav {
    @include highlight();
    @extend %column;
    @extend %row;
    flex-direction: column-reverse;
    counter-reset: level;
  }

  &__button {
    position: relative;
    width: 100%;
    height: 70px;
    padding: 0;
    border: none;
    text-decoration: none;
    background-color: transparent;
    counter-increment: level;

    @include before() {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      box-sizing: border-box;
      height: 0;
      width: 70%;
      padding-top: 70%;
      border: 4px solid $black;
      border-left-width: 3px;
      border-right-width: 3px;
      background-color: $white;
      transform: translate(-50%, -50%) skewX(25deg) rotateX(70deg) rotateZ(45deg);

      .layout_gray &,
      [data-id="viewing-hall"] & {
        background-color: $gray-455;
      }

      @include transition() {
        transition-property: background-color, border-color;
      }
    }

    @each $key, $level in $LEVELS {
      &:nth-child(#{$key}) {
        span {
          background-color: map.get($level, color);
        }

        @include hover() {
          &::before {
            border-color: map.get($level, color);
          }

          span {
            opacity: 1;
            visibility: visible;
          }
        }

        @include active() {
          &::before {
            border-color: map.get($level, color);
            background-color: map.get($level, color);
          }
        }
      }
    }

    & + & {
      margin-bottom: -20px;
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      vertical-align: baseline;
      padding: 3px 10px 1px 5px;
      border-radius: 4px;
      margin-top: -9px;
      @include font(12px, 18px, $title-font, 700);
      text-transform: uppercase;
      white-space: nowrap;
      color: $black;
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, 0, 9000px);

      @include transition() {
        transition-property: opacity, visibility;
      }

      @include before(counter(level)) {
        display: inline-block;
        vertical-align: baseline;
        margin-right: 4px;
        @include font(14px, 18px, $label-font, 700);
        text-transform: none;
        color: $white;
      }
    }
  }
}
