{% load wagtailcore_tags %}
{% load chunk_tags %}
{% load static %}

<meta charset="utf-8">
{# TODO: После расайзов всех страниц раскомментировать #}
{#<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, minimal-ui">#}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<title>{% if page.get_title %}{{ page.get_title }} - {% endif %}Диафильм онлайн</title>
{% get_chunk "application-name" as name %}<meta name="application-name" content="{{ name|default:"Диафильм онлайн" }}">
<meta name="description" content="{{ page.get_description }}">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="theme-color" content="#000000">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="yandex-tableau-widget" content="logo={% static "core/icons/apple-touch-icon-120x120.png" %}, color=#000000">
<meta name="msapplication-config" content="{% static "core/browserconfig.xml" %}">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{% static "core/icons/mstile-144x144.png" %}">
<meta name="msapplication-square70x70logo" content="{% static "core/icons/mstile-70x70.png" %}">
<meta name="msapplication-square150x150logo" content="{% static "core/icons/mstile-150x150.png" %}">
<meta name="msapplication-wide310x150logo" content="{% static "core/icons/mstile-310x150.png" %}">
<meta name="msapplication-square310x310logo" content="{% static "core/icons/mstile-310x310.png" %}">

<link rel="manifest" href="{% static "core/manifest.webmanifest" %}">
<link rel="shortcut icon" href="{% static "core/icons/favicon.ico?dev=1" %}" sizes="16x16 32x32">
<link rel="mask-icon" href="{% static "core/icons/mask-icon.svg" %}" color="#000000">
<link rel="apple-touch-icon" sizes="80x80" href="{% static "core/icons/apple-touch-icon.png" %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static "core/icons/apple-touch-icon-120x120.png" %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static "core/icons/apple-touch-icon-152x152.png" %}">
<link rel="apple-touch-icon" sizes="167x167" href="{% static "core/icons/apple-touch-icon-167x167.png" %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "core/icons/apple-touch-icon-180x180.png" %}">
<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap">
<link rel="preload" as="image" href="{% static "core/img/sprite.svg" %}">
<link rel="stylesheet" href="{% static "core/css/global.min.css" %}">

<script src="{% static "vendor/jquery.min.js" %}" defer></script>
<script src="{% static "vendor/modernizr.min.js" %}" defer></script>
<script src="{% static "core/js/global.min.js" %}" defer></script>

{% get_chunk "extra-head" as extra %}
{% for block in extra %}
{{ block|safe }}
{% endfor %}

<!-- Разработано в DesignDepot | https://designdepot.ru/ -->
